
html {
    background: linear-gradient(35deg,  	
    #1E5D79,  	
    #747779);
}
body {
    color: black;
}
.heading {
    text-align: center;
    padding: 30px;
}
.main {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    
}
.links {
    text-align: center;
    align-items: center;
    justify-content: center;

}
.pic {
    border-style: solid;
    border-radius: 50%;
    border-width: 15px;
    border-color:rgb(10, 39, 77)
}

p2 {
    width: 75%;
    background-color: rgb(58, 70, 85)
}
